@import 'system/vars';
@import 'system/gridSystem';
@import 'system/scfeed';
@import 'system/fda';
@import 'system/text'; 
@import 'system/nav';
@import 'system/form';
@import 'system/buttons';
@import 'system/images'; 
@import 'system/section'; 
html,body {
    -ms-touch-action: none;
}
body,html{height:100%;}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


//BASIC BLOCK/POS
body{
 background: white; 
  font-family: 'Open Sans','Helvectica' sans-serif;
}
//BASIC BLOCK/POS
body{
 background: #f1f1f1; 
}
body.toolbar  #application{
    position: relative;
    top:46px;
    .main-navigation{position: absolute!important;}
}
/*-----------------------------MAIN VIEW---------------------------------*/

.container{
  position: relative;
  max-width:1024px;
    .wrapper{padding:10px;}
    margin:0 auto; 
}
//MOBILE
@media(max-width: 1024px){
     @import 'system/mobile';
}
//iPhone
@media(max-width: 767px) {
    @import 'system/iphone';
}
//iPAD
@media(max-width: 767px) and (max-width: 920px){
    @import 'system/ipadTall';
}
@media (min-width: 768px) and (max-width: 1024px) {
    @import 'system/ipad';
}
//LARGE SCREEN
@media(min-width:1025px){
    width:1280px;  
}
/*-----------------------------MAIN VIEW---------------------------------*/
@media screen and (max-width: 766px) {
    .display-desktop {display:none;visibility:hidden;}
    .display-tablet {display:none;visibility:hidden;}
    .display-mobile {display:block;visibility:visible;}
    //.not-handheld{display:none;visibility:hidden;}
    //.handheld{display:block;visibility:visible;}
    .not-mobile {display:none;visibility:hidden;}
    .not-desktop {display:block;visibility:visible;}
    .not-tablet {display:block;visibility:visible;}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .display-desktop {display:none;visibility:hidden;}
    .display-tablet {display:block;visibility:visible;}
    .display-mobile {display:none;visibility:hidden;}
    //.not-handheld{display:none;visibility:hidden;}
    //.handheld{display:block;visibility:visible;}
    .not-mobile {display:block;visibility:visible;}
    .not-desktop {display:block;visibility:visible;}
    .not-tablet {display:none;visibility:hidden;}
}
@media (min-width: 1025px) {
    .display-desktop {display:block;visibility:visible;}
    .display-tablet {display:none;visibility:hidden;}
    .display-mobile {display:none;visibility:hidden;}
    //.not-handheld{display:block;visibility:visible;}
    //.handheld{display:none;visibility:hidden;}
    .not-mobile {display:block;visibility:visible;}
    .not-desktop {display:none;visibility:hidden;}
    .not-tablet {display:block;visibility:visible;}
}