.feed-item{
	@include transition(all 300ms);
	width:200px;
	&.not-active{width:0px!important;height:0px;padding: 0px; margin:0px;border:0px;}
	position: relative;
	overflow:hidden;
	display:inline-block;
	margin:2px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	border: 1px solid #d8d8d8;
	@include border-radius(5px);
	//@include drop-shadow();
	background: #fff;
	.row:first-child{padding:0px;}
	.row{padding:5px;}
	a{color:darken(#00E6E6,30%); @include transition(all 300ms);}
	a:hover{color:#00E6E6;}
}
/*MAIN IMAGE STYLES*/
.image-wrap{
	display: block;
	min-height: 80px;
}
.image-hold{}
.image-hold img{
	display: block;
	width:100%;
	height:auto;
	max-height: 600px;
}
/*PROFILE IMAGE STYLE */
.profile-wrap{
	float:left;
	position: relative;
	min-height: 28px;
	min-width: 28px;
}
img.profile {
	display: block;
	max-width:28px;
	height:auto;
	@include border-radius(28px);
}
/*SOCIAL NETWORK HANDLE */
.handle-wrap{
	float:left;
	position: relative;
	min-height: 1px;
	padding-left:5px;
}
p.handle{
	font-family: 'Helvectica' sans-serif;
	font-size: .7em;
	color:#d7d7d7;
	line-height: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	letter-spacing:.5px;
	word-spacing:.5px;
}
p.handle a{color:#d7d7d7;}
p.handle a:hover{color:#00E6E6;}
p.handle a:visited{}
/*SOCIAL NETWORK DESCRIPTION */
p.description{
	font-family: 'Helvectica' sans-serif;
	font-size: .7em;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	letter-spacing:.5px;
	word-spacing:.5px;
	color:#191919;
}
/* NETWORK ICON */
.network-wrap{
	float:left;
	position: relative;
	min-height: 1px;
}
p.network{
	font-family: 'Helvectica' sans-serif;
	font-size: 1em;
	color:#d7d7d7;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	letter-spacing:.5px;
	word-spacing:.5px;
}
p.network a{color:#d7d7d7;}
p.network a:hover{color:#00E6E6;}
p.network a:visited{}
/* CREATED DATE */
.created-wrap{
	float:left;
	position: relative;
	padding-left: 5px;
	min-height: 1px;
}
p.created{
	font-family: 'Helvectica' sans-serif;
	font-size: .65em;
	color:#d7d7d7;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	letter-spacing:.5px;
	word-spacing:.5px;
}
/*IMAGE ERROR HANDLING*/
.profile-wrap .img-error{height:28px;@include border-radius(28px);&:after{font-size: 10px;height:10px;}}
.image-wrap .img-error{height:80px;&:after{font-size: 50px;height:50px;}}
.img-error{
	position: relative;
	display: block;
	width:100%;
	height:100%;
	&:after{
		font-family: 'FontAwesome';
		font-weight: normal;
  		font-style: normal;
  		display: inline-block;
  		font-size: inherit;
  		text-rendering: auto;
  		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
  		text-align: center;
  		position: absolute;
  		top:0px;right:0px;left:0px;bottom:0px;
  		margin:auto;
	}
}
.twitter .img-error{
	background: #00aced;
	&:after{content: "\f099"; color:darken(#00aced,20%);}
}
.facebook .img-error{
	background: #3b5998;
	&:after{content: "\f09a";color:lighten(#3b5998,20%);}
}
.instagram .img-error{
	background: #517fa4;
	&:after{content: "\f16d";color:lighten(#517fa4,20%);}
}
.googlePlus .img-error{
	background: #dd4b39;
	&:after{content: "\f0d5"; color:darken(#dd4b39,20%);}
}
.pinterest .img-error{
	background: #cb2027;
	&:after{content: "\f0d2"; color:darken(#cb2027,20%);}
}
.vine .img-error{
	background: #00bf8f;
	&:after{content: "\f1ca"; color:darken(#00bf8f,20%);}
}
.linkedin .img-error{
	background: #007bb6;
	&:after{content: "\f0e1"; color:lighten(#007bb6,20%);}
}
.tumblr .img-error{
	background: #32506d;
	&:after{content: "\f173"; color:lighten(#32506d,20%);}
}
