.feed-item{
	width:200px;
	position: relative;
	overflow:hidden;
	display:inline-block;
	margin:2px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	border: 1px solid #d8d8d8;
	@include border-radius(5px);
	//@include drop-shadow();
	background: #fff;
}
.image-wrap{

}
.image-hold{

}
.image-hold img{
	display: block;
	width:100%;
	height:auto;
	max-height: 600px;

}