img.banner {
  width: 71%;
  height: auto;
  display: block;
  max-width: 655px;
}
.campaign img{
	width: 95%;
  height: auto;
  display: block;
  max-width: 524px;
  margin:0 auto;
}
.news img{
	width: 95%;
  height: auto;
  display: block;
  max-width: 200px;
  margin:0 auto;
}