.light{
	&.feed{
		margin: 0 auto;
		display: block;
		position: relative;
		//background: #e6e6e6;
		@import 'scfeed/light.default';
		//Other devices
		@media(max-width: 1024px){
     		@import 'scfeed/mobile';
		}
		//iPhone
		@media(max-width: 750px) {
		    @import 'scfeed/iphone';
		}
		//iPAD
		@media(min-width: 767px) and (max-width: 920px){
		    @import 'scfeed/ipadTall';
		}
		@media (min-width: 768px) and (max-width: 1024px) {
		    @import 'scfeed/ipad';
		}
		//LARGE SCREEN
		@media(min-width:1025px){
		    @import 'scfeed/largeScreen';
		}
	}
	&.slideshow{
		@import 'scfeed/light.default';
		@media(max-width: 1024px){
     		@import 'scfeed/mobile';
		}
		//iPhone
		@media(max-width: 767px) {
		    @import 'scfeed/iphone';
		}
		//iPAD
		@media(max-width: 767px) and (max-width: 920px){
		    @import 'scfeed/ipadTall';
		}
		@media (min-width: 768px) and (max-width: 1024px) {
		    @import 'scfeed/ipad';
		}
		//LARGE SCREEN
		@media(min-width:1025px){
		    @import 'scfeed/largeScreen';
		}
	}
	&.custom{}
}

.dark{
	&.feed{
		@import 'scfeed/dark.default';
		@media(max-width: 1024px){
     		@import 'scfeed/mobile';
		}
		//iPhone
		@media(max-width: 767px) {
		    @import 'scfeed/iphone';
		}
		//iPAD
		@media(max-width: 767px) and (max-width: 920px){
		    @import 'scfeed/ipadTall';
		}
		@media (min-width: 768px) and (max-width: 1024px) {
		    @import 'scfeed/ipad';
		}
		//LARGE SCREEN
		@media(min-width:1025px){
		    @import 'scfeed/largescreen';
		}
	}
	&.slideshow{
		@import 'scfeed/dark.default';
		@media(max-width: 1024px){
     		@import 'scfeed/mobile';
		}
		//iPhone
		@media(max-width: 767px) {
		    @import 'scfeed/iphone';
		}
		//iPAD
		@media(max-width: 767px) and (max-width: 920px){
		    @import 'scfeed/ipadTall';
		}
		@media (min-width: 768px) and (max-width: 1024px) {
		    @import 'scfeed/ipad';
		}
		//LARGE SCREEN
		@media(min-width:1025px){
		    @import 'scfeed/largescreen';
		}
	}
	&.custom{}
}

//GLOBALS
.filter-items {
    border: 1px solid #e6e6e6;
    padding: 5px;
}
.filter-wrap{text-align: center;}
p.filter-by{color:#d7d7d7;text-align: center; font-size: .7em;font-family: 'Helvectica' sans-serif;padding-top:5px;}
//buttons
button.btn-filter+button.btn-filter{margin-left:5px;}
button.btn-filter{
	float: none;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	cursor: pointer;
	position: relative;
	border:1px solid #e6e6e6;
	@include border-radius(0px);
	background: #fff;
	@include transition(background-color 300ms);
	width:30px;
	height:30px;
	&:after{
		font-size: 20px;height:20px;
		font-family: 'FontAwesome';
		color: darken(#fff, 30%);
		@include transition(color 300ms);
		font-weight: normal;
  		font-style: normal;
  		display: inline-block;
  		text-rendering: auto;
  		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
  		text-align: center;
  		position: absolute;
  		top:0px;right:0px;left:0px;bottom:0px;
  		margin:auto;
	}
}
.twitter.btn-filter{
	&:after{content: "\f099";}
}
.facebook.btn-filter{
	&:after{content: "\f09a";}
}
.instagram.btn-filter{
	&:after{content: "\f16d";}
}
.googlePlus.btn-filter{
	&:after{content: "\f0d5"; }
}
.pinterest.btn-filter{
	&:after{content: "\f0d2";}
}
.vine.btn-filter{
	&:after{content: "\f1ca";}
}
.linkedin.btn-filter{
	&:after{content: "\f0e1";}
}
.tumblr.btn-filter{
	&:after{content: "\f173"; }
}
.twitter.btn-filter:hover{
	border:none;
	background: #00aced;
	&:after{content: "\f099"; color:darken(#00aced,20%);}
}
.facebook.btn-filter:hover{
	border:none;
	background: #3b5998;
	&:after{content: "\f09a";color:lighten(#3b5998,20%);}
}
.instagram.btn-filter:hover{
	border:none;
	background: #517fa4;
	&:after{color:lighten(#517fa4,20%);}
}
.googlePlus.btn-filter:hover{
	border:none;
	background: #dd4b39;
	&:after{color:darken(#dd4b39,20%);}
}
.pinterest.btn-filter:hover{
	border:none;
	background: #cb2027;
	&:after{color:darken(#cb2027,20%);}
}
.vine.btn-filter:hover{
	border:none;
	background: #00bf8f;
	&:after{color:darken(#00bf8f,20%);}
}
.linkedin.btn-filter:hover{
	border:none;
	background: #007bb6;
	&:after{color:lighten(#007bb6,20%);}
}
.tumblr.btn-filter:hover{
	border:none;
	background: #32506d;
	&:after{color:lighten(#32506d,20%);}
}

.twitter.btn-filter.active{
	border:none;
	background: #00aced;
	&:after{color:darken(#00aced,20%);}
}

.facebook.btn-filter.active{
	border:none;
	&:after{color:lighten(#3b5998,20%);}
}
.instagram.btn-filter.active{
	border:none;
	background: #517fa4;
	&:after{color:lighten(#517fa4,20%);}
}
.googlePlus.btn-filter.active{
	border:none;
	background: #dd4b39;
	&:after{color:darken(#dd4b39,20%);}
}
.pinterest.btn-filter.active{
	border:none;
	background: #cb2027;
	&:after{color:darken(#cb2027,20%);}
}
.vine.btn-filter.active{
	border:none;
	background: #00bf8f;
	&:after{color:darken(#00bf8f,20%);}
}
.linkedin.btn-filter.active{
	border:none;
	background: #007bb6;
	&:after{color:lighten(#007bb6,20%);}
}
.tumblr.btn-filter.active{
	border:none;
	background: #32506d;
	&:after{color:lighten(#32506d,20%);}
}



.twitter.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.facebook.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.instagram.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.googlePlus.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.pinterest.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.vine.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.linkedin.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}
.tumblr.btn-filter.active:hover{
	border:1px solid #e6e6e6;
	background: #fff;
	&:after{color: darken(#fff, 30%);}
}