//**************GENERAL****************//
//Block Types
  .white-block{
    background: #fff;
    //width: 100%;
    display: block;
    position: relative;
  }
  .black-block{
    background: #323232;
    //width: 100%;
    display: block;
    position: relative;
  }
  .mute-block{
    background: #1e1e1e;
   // width: 100%;
    display: block;
    position: relative;
  }
  .yellow-block{
    background:#f8b91a;
    //width: 100%;
    display: block;
    position: relative;
  }
  .red-block{
    background:#bf2a2a;
   // width: 100%;
    display: block;
    position: relative;
  }
//Components
  .footer{
    min-height:150px;
    display: block; 
    padding:10px;
  }
  .main-navigation+div{
    padding-top:73px;
  }
//**************HOME PAGE****************//
//Cover-image
  .cover-image{
    position: relative;
    display: block;
  }
//ABOUT+ANSWERS
  .about+.answers{margin-top:10px;}
  .about,.answers{
    clear:both;
    max-width:310px;
    margin:0 auto;
    position: relative;
    padding:10px;
    min-height:150px;
    h1{
      font-family: 'Source Sans Pro','Open Sans','Helvectica' sans-serif;
      @include font-size(25);
    }
    h2{
      font-family: 'Source Sans Pro','Open Sans','Helvectica' sans-serif;
      @include font-size(18);
    }
  }
//ABOUT
  .about{
    background:url("../images/about.png");
  }
//ANSWERS
  .answers{
    border-top:5px solid #bf2a2a;
    background:url("../images/answers.png");
  }

//announcement + alerts
  .announcement, .alert{
    height:150px;
    width:150px;
    display: inline-block;
    margin:5px;
    padding:5px;
    overflow: hidden;
    position: relative;
    text-align:center;
    p{ text-align:left; display: block;overflow: hidden;height: 135px;}
    .btn-naked{position: absolute; bottom:0px; right:0px;}
  }
//announcement
  .announcement{
    background:#f8b91a;
  }
//announcement
  .alert{
    background:#fff;
    border:2px solid #bf2a2a;
  }