
.main-navigation ul li{
	font-family: 'Helvetica', Arial, sans-serif;
	@include font-size(12);
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	letter-spacing:.5px;
	word-spacing:.5px;
	i{@include font-size(20);}
	ul li{@include font-size(12);}
}
h1.hero{
	font-family: 'Source Sans Pro','Open Sans','Helvectica' sans-serif;
	@include font-size(38);
	font-weight:200;  
	font-style: normal;
	color:rgba(#000,.90);
	letter-spacing:0px;
	word-spacing:0px;
}
//h1
h1{
	font-family: 'Open Sans','Helvectica' sans-serif;
	@include set_allHP(37,line-height);
	@include font-size(24);
	font-weight:100; 
	font-style: normal;
	color:rgba(#000,.90);
	letter-spacing:0px;
	word-spacing:2px;
}
//h3
h3{
	font-family: 'Helvetica', Arial, sans-serif;
	@include font-size(15);
	font-weight:100; 
	color:rgba(#000,.90);
	letter-spacing:0px;
	word-spacing:.5px;
}
h4,label{
	@include set_allHP(30,line-height);	
	@include font-size(14);
	font-weight:500; 
	color:rgba(#000,.90);
	letter-spacing:-1px;
	word-spacing:.5px;
}
//P bold/ strong
p, .btn-round,.btn-naked,.btn-square, .btn-cta, .selectize-input{	
	@include font-size(12);
	@include set_allHP(18,line-height);	
	font-weight:400; 
	letter-spacing:0px;
	word-spacing:-1px;
}
a{
	text-decoration: none;
}
p.bold, strong, li{	
	@include font-size(12);
	font-weight:400;  
	color:rgba(#000,.90);
	@include set_allHP(24,line-height);
	letter-spacing:-1px;
}
em{
	font-family: 'Times New Roman', Times, serif;
	@include font-size(16);
	font-weight:100; 
	font-style: italic;
}
CAptions
p.caption,.helper{
	@include font-size(11);
	font-weight:400; 
	color:rgba(#000,.70);
	letter-spacing:2px;
}
#footer .tab p{ color:rgba(#000,.50); padding:3px; text-align:center; @include font-size(20); }
#footer .tab p.caption{@include font-size(10);  letter-spacing:0px; word-spacing:.5px; }
.helper{
	@include font-size(9);
	font-weight:400; 
	color:rgba(#000,.54);
	letter-spacing:2px;
}
.error p{
	@include font-size(9);
	font-weight:400; 
	letter-spacing:2px;
}
.menu-link i{
	@include font-size(18);
}
//Handle Font Colors
.red, .error{
	color:#eb3737;
	a{color:#eb3737;}
&h1.hero,h1.d3,&h1.d2,h1.d1,em, p.caption,.helper{color:rgba(#eb3737,.70);}
&h1.headline, h1,h2,p,p.bold,h4, li{color:rgba(#eb3737,.90);}
}
.green,.success{
	color: #2aad19;
	a{color:#2aad19;}
	&h1.hero,h1.d3,h1.d2,h1.d1,em, p.caption,.helper{color:rgba(#2aad19,.70);}
	&h1.headline, h1,h2,p,p.bold,h4,li{color:rgba(#2aad19,.90);}
}
.primary,.blue{
	color:#2b80b7;
	a{color:#2b80b7;}
	&h1.hero,h1.d3,h1.d2,h1.d1,em, p.caption,.helper{color:rgba(#2b80b7,.70);}
	&h1.headline, h1,h2,p,p.bold,h4,li{color:rgba(#2b80b7,.90);}
}
.inverse, .white{
	color:#fff;
	a{color:#fff;}
	&h1.hero,h1.d3,h1.d2,&h1.d1, p.caption,.helper{color:rgba(#fff,.70);}
	&h1.headline, h1,h2,p,p.bold,h4,em,li{color:rgba(#fff,.90);}
}
.mute, .gray{
	color:#b0b0b0;
	a{color:#b0b0b0;}
	&h1.hero,h1.d3,h1.d2,&h1.d1,em, p.caption,.helper{color:rgba(#b0b0b0,.70);}
	&h1.headline, h1,h2,p,p.bold,h4,li{color:rgba(#b0b0b0,.90);}
}
.dark, .black{
	color:#323232;
	a{color:#323232;}
	&h1.hero,h1.d3,h1.d2,&h1.d1,em, p.caption,.helper{color:rgba(#323232,.70);}
	&h1.headline, h1,h2,p,p.bold,h4,li{color:rgba(#323232,.90);}
}

.uppercase,.btn-naked, .btn-group .btn-cta{text-transform: uppercase; font-weight:400;}
.btn-naked.no-case{text-transform: none;}

.align-left{
	text-align:left;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
.inline{
	display:inline;
}
.inline-text{
	&h1.d4,h1.d3,h1.d2,h1.d1,em, p.caption,.helper,h1.headline, h1,h2,p,p.bold,h4,li{
		display:inline-block;
	}
}